<div class="container">
    <div class="card" style="border-color: #a71c5f;">
        <div class="card-header" style="border-color: #d54f67;">
            <div class="row align-items-center">
                <h1>Generic Energy-Efficient Simulation of Radio Network Algorithms</h1>
            </div>
        </div>
        <div class="card-body">
            <p>Dominick Banasik</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                    <app-graph></app-graph>

                    <!-- <br>
                    <br> -->

                    <!-- <div>
                        <button id="rangeValue" class="btn btn-primary" style="width: 50%" onclick="generate(+range.value)">
                            Generate 25 random points
                        </button>
                        <input id="range" class="form-range" type="range" min="4" max="50" value="25" style="width: 49%; height: 50%"
                            oninput="rangeValue.innerText = 'Generate ' + value + ' random points'">
                    </div>
            
                    <br>

                    <div>
                        <button class="btn btn-primary" onclick="first()">First</button>
                        <button class="btn btn-primary" onclick="previousStage()">Previous Stage</button>
                        <button class="btn btn-primary" onclick="previous()">Previous</button>
                        <button class="btn btn-primary" onclick="next()">Next</button>
                        <button class="btn btn-primary" onclick="nextStage()">Next Stage</button>
                        <button class="btn btn-primary" onclick="last()">Last</button>
                    </div>

                    <br>
                    <br> -->
            </div>
        </div>
    </div>
</div>